.ui-dialog {background:rgba(255,255,255,0.75);}
.myShadow{-webkit-box-shadow: #7D7D7D 8px 8px 8px;
          -moz-box-shadow: #7D7D7D 8px 8px 8px;
          box-shadow: #7D7D7D 8px 8px 8px;}

.ui-datatable{-webkit-box-shadow: #7D7D7D 13px 13px 13px;
               -moz-box-shadow: #7D7D7D 13px 13px 13px; 
               box-shadow: #7D7D7D 13px 13px 13px;
               margin-top:10px;
               opacity: 0.95;
}

.tableWithOutStyles{-webkit-box-shadow: #7D7D7D 0px 0px 0px;
                    -moz-box-shadow: #7D7D7D 0px 0px 0px;
                    box-shadow: #7D7D7D 0px 0px 0px;
                    margin: 0px;
                    margin-top:0px;
}

.errorText{
    max-width: 100%;
    height: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:8px solid #EF463B;
    background-color:#cbc7c5;
    color: #ffffff;
    font-size: 3em;
    font-family: Century Gothic; 
    margin: 50px;
}

.loginContainer{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 85%;
}

.welcomeImage{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border:4px solid #978e8a;
    margin: 2%;
    margin-left: 5%;
    max-width: 93%;
    height: auto;
/*    -webkit-box-shadow: 12px 12px 5px 2px #757575;
box-shadow: 12px 12px 5px 2px #757575;*/
}

.amaLaVidaImage{
    max-width: 100%;
    height: auto;
    margin-left: 30%;
    margin-right: auto;
}

.welcomeText{
    text-shadow: 5px 5px 5px #978e8a;
    margin-left: 18%;
    margin-right: auto;   
    margin-top: 1%;
}

.shine
{
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;

    color: rgba(255, 255, 255, 0.2);
    -webkit-background-clip: text;

    -webkit-animation-name: shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}